# gitignore for DaftAppleGames global resources

# Ensure only "private" assets are part of the repo.
# We do not want to publish purchased assets, other peoples work.

/Global-Assets/
/Global-Assets-HDRP/
/Global-Assets-BIRP/
/Global-Assets-URP/